html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 250px;
  cursor: pointer;
  display: none;
  background: #FFF; }
  #mainContent div, #mainContent img {
    position: absolute; }

#bgExit {
  position: absolute;
  width: 300px;
  height: 250px;
  border: 1px solid black; }
